@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/GraphikLight.otf') format('trueType');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/GraphikRegular.otf') format('trueType');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/GraphikMedium.otf') format('trueType');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/GraphikSemibold.otf') format('trueType');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/GraphikBold.otf') format('trueType');
}

body {
  font-family: 'Graphik' !important;
}


.container{
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px !important;
}

details summary:hover .chevron {
  filter: invert(1);
}

details summary:hover {
  background-color: #007bff; 
  color: white;
}

/* MAP  */

.map {
  width: 100%;
  height: 750px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F5F9 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), 0 100%);
}

.map svg path{
   position: relative;
   z-index: 1;
}

.tooltip {
  position: absolute;
  background: #FFFFFF;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  max-width: 160px;
  box-shadow: 2.5px 4.33px 7.75px 0px #07487133;
  transform: translate(-60%, -100%); 
  opacity: 0; 
  z-index: 1000;
}

.tooltip .location-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.tooltip::before {
  content: "";
  position: absolute;
  bottom: -10px; 
  left: 50%;
  margin-left: -5px; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #FFFFFF; 
}

@media (max-width: 1025px){
  .map{
    clip-path: none;
    height:650px;
  }
}

@media (max-width: 520px){
  .map{
    height:550px;
  }
}

/* product card  */

.product-card{
  box-shadow: 1.5px 2.6px 15.49px 0px #0000001a
}

.product-card:hover{
  box-shadow: 1.5px 2.6px 20px 0px #00000060;
  transition: box-shadow 0.3s ease;
}














